// Custom.scss
$font-size-base: 0.875rem;

$body-bg: #fafafa;

$theme-colors: (
  "primary": #3ca3bd,
  "secondary": #92a41f
);

$table-cell-padding: 0.5rem;

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    padding: 0 50px;
  }
}

/* Navigation tabs
-------------------------------------------------- */

// .nav-tabs {
//   border-bottom: 1px solid #388a9f !important;
// }
// .nav-tabs .nav-item {
//   margin-right: 2px;
// }

// .nav-tabs .nav-link {
//   background-color: #6dc3d6;
//   color: #fff;
//   border-color: #6dc3d6 #6dc3d6 #388a9f !important;
//   border-top-left-radius: 0.5rem !important;
//   border-top-right-radius: 0.5rem !important;
// }
// .nav-tabs .nav-link:hover,
// .nav-tabs .nav-link:focus {
//   background-color: #388a9f;
//   border-color: #388a9f #388a9f #388a9f !important;
// }
// .nav-tabs .nav-link.disabled {
//   color: #6c757d;
//   background-color: transparent;
//   border-color: transparent;
// }
// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//   color: #fff !important;
//   background-color: #3ca3bd !important;
//   border-color: #388a9f #388a9f #3ca3bd !important;
// }
// .nav-tabs .dropdown-menu {
//   margin-top: -1px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

/* Login page
-------------------------------------------------- */
body.login {
  height: 100%;
}

body.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* Forms
-------------------------------------------------- */
.form-group.required .col-form-label:after {
  content: " *";
  color: #dc3545;
}

/* Messages on dashboard
-------------------------------------------------- */
.message {
  border-bottom: 1px solid #dee2e6;
  padding-top: 20px;
  padding-bottom: 15px;
}
.message .avatar {
  font-size: 36px;
  margin-right: 24px;
}
.message:hover {
  background-color: #ececec;
}

.message.closed {
  color: #adb5bd;
}

/* Entries (Contact, User, Role, Vehicle)
-------------------------------------------------- */
.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.entry-row {
  cursor: pointer;
}
.page-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.date-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* widget
-------------------------------------------------- */
.widget {
  margin-bottom: 20px;
}

/* datepicker
-------------------------------------------------- */
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
  color: #fff;
  background-color: #3ca3bd;
  border-color: #3ca3bd;
}

.datepicker table tr td.today {
  color: #000;
  background-color: transparent;
  font-weight: 700;
}
.datepicker table tr td,
.datepicker table tr th {
  border-radius: 50%;
}

#datepicker {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* voertuigen widget
-------------------------------------------------- */
a.list-group-item,
a.list-group-item:hover {
  color: #000;
}

a.list-group-item.active {
  background: unset;
  color: unset;
}

.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 10px;
}

.icon.active::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
}

/* Auto-suggest styles
-------------------------------------------------- */

ul.suggestions {
  display: none;
}

ul.suggestions li {
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-colorpicker/src/sass/colorpicker";
